$font-colors: (
  "default": rgb(38, 38, 38),
  "gray-normal": rgb(142, 142, 142),
  "gray-invisible": rgb(199, 199, 199),
  "blue": rgb(19, 158, 242)
);
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$font-sizes: (
  "small": 11px,
  "medium": 12px,
  "big": 14px
)